.nav-link span {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #000;
        transition: width 0.3s ease-in-out;
    }
}

.nav-link.active span::after {
    width: 100%;
}

@media (hover: hover) {
    .nav-link:hover span::after {
        width: 100%;
    }
}
